In [1]:
import pandas as pd

In [2]:
#Reading in Data
users=pd.read_csv("/Users/Arshi/Desktop/relax_challenge/takehome_users.csv",encoding="latin_1")
usersEngagement=pd.read_csv("/Users/Arshi/Desktop/relax_challenge/takehome_user_engagement.csv",encoding="latin_1")

In [3]:
users.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [4]:
users.shape

(12000, 10)

In [5]:
usersEngagement.head()

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

In [6]:
usersEngagement.shape

(207917, 3)

In [7]:
users.dtypes

object_id                       int64
creation_time                  object
name                           object
email                          object
creation_source                object
last_session_creation_time    float64
opted_in_to_mailing_list        int64
enabled_for_marketing_drip      int64
org_id                          int64
invited_by_user_id            float64
dtype: object

In [8]:
usersEngagement.dtypes

time_stamp    object
user_id        int64
visited        int64
dtype: object

In [9]:
#Converting time_stamp column to datetime
usersEngagement['time_stamp'] =  pd.to_datetime(usersEngagement['time_stamp'])

In [10]:
#Checking earliest record in data
min(usersEngagement["time_stamp"])

Timestamp('2012-05-31 08:20:06')

In [11]:
#Checking latest record in data
max(usersEngagement["time_stamp"])

Timestamp('2014-06-06 14:58:50')

In [12]:
#Performing the steps above for creation time
users['creation_time'] =  pd.to_datetime(users['creation_time'])

In [13]:
min(users["creation_time"])

Timestamp('2012-05-31 00:43:27')

In [14]:
max(users["creation_time"])

Timestamp('2014-05-30 23:59:19')

In [15]:
usersEngagement['year']=usersEngagement['time_stamp'].dt.year
usersEngagement['month']=usersEngagement['time_stamp'].dt.month
usersEngagement['day']=usersEngagement['time_stamp'].dt.day

In [16]:
usersEngagement.head()

           time_stamp  user_id  visited  year  month  day
0 2014-04-22 03:53:30        1        1  2014      4   22
1 2013-11-15 03:45:04        2        1  2013     11   15
2 2013-11-29 03:45:04        2        1  2013     11   29
3 2013-12-09 03:45:04        2        1  2013     12    9
4 2013-12-25 03:45:04        2        1  2013     12   25

In [17]:
#Checking userEngagement Data
usersEngagement.head()

           time_stamp  user_id  visited  year  month  day
0 2014-04-22 03:53:30        1        1  2014      4   22
1 2013-11-15 03:45:04        2        1  2013     11   15
2 2013-11-29 03:45:04        2        1  2013     11   29
3 2013-12-09 03:45:04        2        1  2013     12    9
4 2013-12-25 03:45:04        2        1  2013     12   25

In [18]:
max(usersEngagement["day"])

31

In [19]:
max(usersEngagement["month"])

12

In [20]:
max(usersEngagement["year"])

2014

In [21]:
min(usersEngagement["day"])

1

In [22]:
min(usersEngagement["month"])

1

In [23]:
min(usersEngagement["year"])

2012

In [24]:
max(usersEngagement["visited"])

1

In [25]:
usersEngagement.head()

           time_stamp  user_id  visited  year  month  day
0 2014-04-22 03:53:30        1        1  2014      4   22
1 2013-11-15 03:45:04        2        1  2013     11   15
2 2013-11-29 03:45:04        2        1  2013     11   29
3 2013-12-09 03:45:04        2        1  2013     12    9
4 2013-12-25 03:45:04        2        1  2013     12   25

In [26]:
#Forming a dataframe grouped by userid, year, month and day with count of instances available
TestUserEngData=usersEngagement.sort_values(["user_id","year","month","day"])

In [27]:
TestUserEngData.tail(10)

                time_stamp  user_id  visited  year  month  day
207907 2014-04-28 14:22:45    11991        1  2014      4   28
207908 2014-05-17 14:22:45    11991        1  2014      5   17
207909 2014-05-30 14:22:45    11991        1  2014      5   30
207910 2014-04-11 19:39:56    11992        1  2014      4   11
207911 2013-10-22 13:33:17    11995        1  2013     10   22
207912 2013-09-06 06:14:15    11996        1  2013      9    6
207913 2013-01-15 18:28:37    11997        1  2013      1   15
207914 2014-04-27 12:45:16    11998        1  2014      4   27
207915 2012-06-02 11:55:59    11999        1  2012      6    2
207916 2014-01-26 08:57:12    12000        1  2014      1   26

In [28]:
len(TestUserEngData)

207917

In [29]:
TestUserEngData.shape

(207917, 6)

In [30]:
looplen = len(TestUserEngData) - 4
looplen

207913

In [31]:
TestUserEngData.head()

           time_stamp  user_id  visited  year  month  day
0 2014-04-22 03:53:30        1        1  2014      4   22
1 2013-11-15 03:45:04        2        1  2013     11   15
2 2013-11-29 03:45:04        2        1  2013     11   29
3 2013-12-09 03:45:04        2        1  2013     12    9
4 2013-12-25 03:45:04        2        1  2013     12   25

Extracting Engaged Users who have interacted with the product for more than 3 times in 7 day period

In [32]:
EngagedUsers=[]
looplen = len(TestUserEngData) - 4
for i in range(looplen):
    if TestUserEngData.ix[i,"user_id"]==TestUserEngData.ix[i+2,"user_id"]:
        if ((TestUserEngData.ix[i+2,"time_stamp"]-TestUserEngData.ix[i,"time_stamp"]).days) <=7:
            EngagedUsers.append(TestUserEngData.ix[i,"user_id"])

In [33]:
EngagedUsers=list(set(EngagedUsers))

Number of Engaged users

In [34]:
len(EngagedUsers)

1656

In [35]:
#Flagging engaged users
users['AdoptedUserFlag'] = users["object_id"].map(lambda x: 1 if x in EngagedUsers else 0)

In [36]:
users.head(10)

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,AdoptedUserFlag
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,1
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,0
5,6,2013-12-17 03:37:06,Cunha Eduardo,EduardoPereiraCunha@yahoo.com,GUEST_INVITE,1.387424e+09,0,0,197,11241.0,0
6,7,2012-12-16 13:24:32,Sewell Tyler,TylerSewell@jourrapide.com,SIGNUP,1.356010e+09,0,1,37,NaN,0
7,8,2013-07-31 05:34:02,Hamilton Danielle,DanielleHamilton@yahoo.com,PERSONAL_PROJECTS,NaN,1,1,74,NaN,0
8,9,2013-11-05 04:04:24,Amsel Paul,PaulAmsel@hotmail.com,PERSONAL_PROJECTS,NaN,0,0,302,NaN,0
9,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0,1

In [37]:
#Calculating time the user has been with the system in days, tagging reffered customers as 1 and imputing 0 for 
#users that dont have a last session time
timestamp=max(usersEngagement["time_stamp"])
users["Reffered"]=0
for i in range(len(users)):
    
    users.ix[i,"UserLineage"]=(timestamp-users.ix[i,"creation_time"]).days
    
    if users.ix[i,"invited_by_user_id"]>=0:
        users.ix[i,"Reffered"]=1
        
    if users.ix[i,"creation_source"]=="PERSONAL_PROJECTS":
        users.ix[i,"PerPro"]=1
    else:
        users.ix[i,"PerPro"]=0
        
    if users.ix[i,"creation_source"]=="GUEST_INVITE":
        users.ix[i,"GuestInv"]=1
    else:
        users.ix[i,"GuestInv"]=0

    if users.ix[i,"creation_source"]=="ORG_INVITE":
        users.ix[i,"OrgInv"]=1
    else:
        users.ix[i,"OrgInv"]=0

    if users.ix[i,"creation_source"]=="SIGNUP":
        users.ix[i,"SIGNUP"]=1
    else:
        users.ix[i,"SIGNUP"]=0

    if users.ix[i,"creation_source"]=="SIGNUP_GOOGLE_AUTH":
        users.ix[i,"SiGoogAuth"]=1
    else:
        users.ix[i,"SiGoogAuth"]=0

users['last_session_creation_time']=users['last_session_creation_time'].fillna(0)

In [38]:
users.head(10)

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id,AdoptedUserFlag,Reffered,UserLineage,PerPro,GuestInv,OrgInv,SIGNUP,SiGoogAuth
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0,0,1,45.0,0.0,1.0,0.0,0.0,0.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0,1,1,203.0,0.0,0.0,1.0,0.0,0.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0,0,1,443.0,0.0,0.0,1.0,0.0,0.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0,0,1,381.0,0.0,1.0,0.0,0.0,0.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0,0,1,505.0,0.0,1.0,0.0,0.0,0.0
5,6,2013-12-17 03:37:06,Cunha Eduardo,EduardoPereiraCunha@yahoo.com,GUEST_INVITE,1.387424e+09,0,0,197,11241.0,0,1,171.0,0.0,1.0,0.0,0.0,0.0
6,7,2012-12-16 13:24:32,Sewell Tyler,TylerSewell@jourrapide.com,SIGNUP,1.356010e+09,0,1,37,NaN,0,0,537.0,0.0,0.0,0.0,1.0,0.0
7,8,2013-07-31 05:34:02,Hamilton Danielle,DanielleHamilton@yahoo.com,PERSONAL_PROJECTS,0.000000e+00,1,1,74,NaN,0,0,310.0,1.0,0.0,0.0,0.0,0.0
8,9,2013-11-05 04:04:24,Amsel Paul,PaulAmsel@hotmail.com,PERSONAL_PROJECTS,0.000000e+00,0,0,302,NaN,0,0,213.0,1.0,0.0,0.0,0.0,0.0
9,10,2013-01-16 22:08:03,Santos Carla,CarlaFerreiraSantos@gustr.com,ORG_INVITE,1.401833e+09,1,1,318,4143.0,1,1,505.0,0.0,0.0,1.0,0.0,0.0

In [39]:
newUsers = users[["opted_in_to_mailing_list", "enabled_for_marketing_drip","UserLineage","Reffered","PerPro","GuestInv","OrgInv","SIGNUP","AdoptedUserFlag"]].copy()

In [40]:
newUsers.shape

(12000, 9)

In [41]:
newUsers.head()

,opted_in_to_mailing_list,enabled_for_marketing_drip,UserLineage,Reffered,PerPro,GuestInv,OrgInv,SIGNUP,AdoptedUserFlag
0,1,0,45.0,1,0.0,1.0,0.0,0.0,0
1,0,0,203.0,1,0.0,0.0,1.0,0.0,1
2,0,0,443.0,1,0.0,0.0,1.0,0.0,0
3,0,0,381.0,1,0.0,1.0,0.0,0.0,0
4,0,0,505.0,1,0.0,1.0,0.0,0.0,0

In [42]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [43]:
X=newUsers.iloc[:,0:8]

In [44]:
Y=newUsers.iloc[:,8]

In [45]:
X.head()

,opted_in_to_mailing_list,enabled_for_marketing_drip,UserLineage,Reffered,PerPro,GuestInv,OrgInv,SIGNUP
0,1,0,45.0,1,0.0,1.0,0.0,0.0
1,0,0,203.0,1,0.0,0.0,1.0,0.0
2,0,0,443.0,1,0.0,0.0,1.0,0.0
3,0,0,381.0,1,0.0,1.0,0.0,0.0
4,0,0,505.0,1,0.0,1.0,0.0,0.0

Forming a decision tree to identify most important variables

In [46]:
clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100,
                               max_depth=4, min_samples_leaf=3)
clf_gini.fit(X, Y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=3,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=100, splitter='best')

In [47]:
Y_pred = clf_gini.predict(X)

In [48]:
accuracy_score(Y,Y_pred)*100

86.200000000000003

Not the best measure to look at as the data set has less number of engaged users

In [49]:
#Exporting dot file
dotfile = open("/Users/Arshi/Desktop/tree.dot", 'w')
tree.export_graphviz(clf_gini, out_file = dotfile, feature_names = X.columns)
dotfile.close()

Copy the file content in http://webgraphviz.com

Output:
Lineage (number of days the person has been with the system) seems to dominate the result. Re running a the tree again with lineage removed.

In [50]:
newUsers1 = users[["opted_in_to_mailing_list", "enabled_for_marketing_drip","Reffered","PerPro","GuestInv","OrgInv","SIGNUP","AdoptedUserFlag"]].copy()

In [51]:
newUsers1.head()

,opted_in_to_mailing_list,enabled_for_marketing_drip,Reffered,PerPro,GuestInv,OrgInv,SIGNUP,AdoptedUserFlag
0,1,0,1,0.0,1.0,0.0,0.0,0
1,0,0,1,0.0,0.0,1.0,0.0,1
2,0,0,1,0.0,0.0,1.0,0.0,0
3,0,0,1,0.0,1.0,0.0,0.0,0
4,0,0,1,0.0,1.0,0.0,0.0,0

In [52]:
X=newUsers1.iloc[:,0:7]

In [53]:
X.head()

,opted_in_to_mailing_list,enabled_for_marketing_drip,Reffered,PerPro,GuestInv,OrgInv,SIGNUP
0,1,0,1,0.0,1.0,0.0,0.0
1,0,0,1,0.0,0.0,1.0,0.0
2,0,0,1,0.0,0.0,1.0,0.0
3,0,0,1,0.0,1.0,0.0,0.0
4,0,0,1,0.0,1.0,0.0,0.0

In [54]:
Y=newUsers1.iloc[:,7]

In [55]:
clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100,
                               max_depth=4, min_samples_leaf=3)
clf_gini.fit(X, Y)
Y_pred = clf_gini.predict(X)
accuracy_score(Y,Y_pred)*100

86.200000000000003

In [56]:
#Exporting dot file
dotfile = open("/Users/Arshi/Desktop/tree1.dot", 'w')
tree.export_graphviz(clf_gini, out_file = dotfile, feature_names = X.columns)
dotfile.close()

Output:
a. Customers who were tagged as PERSONAL_PROJECTS (invited to join another user's personal workbook) seem to be the least engaged and hence have low chance of being an "adopted user"

b. Customers who are not part of opted_in_to_mailing_list and enabled_for_marketing_drip are more likely to be an "adopted user"